#bodo{
    background-image:url(https://doc-0o-9c-docs.googleusercontent.com/docs/securesc/kk0o1ljlgg5mhda9g2gstu71mm3da08n/iln2l50mljj08h72ljhaqqt1p523ifgn/1625306025000/12130465111352149128/11131824850473580204/1FJSz_PRNX-AKNJweYK4D22mVErdfyyaH?authuser=2&nonce=fjvr1tf45571q&user=11131824850473580204&hash=dehnh36ui4fb9l53cp1omlhkvichbrmo);
    text-align:center;
    align-items:center;
    align-content:center;
}
h1{
    font-size:30px;
}
#backgroundotxt{
    background-color:aqua;
    max-width:fit-content;
    align-self:center;
}
